.todo-form {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 15px;
  }
  
  .todo-form label {
    margin-right: 5px;
  }
  
  .todo-form input {
    margin-left: 5px;
  }
  
  .todo-form button {
    padding: 0px 5px;
  }
  
  .todo-form h2 {
    text-align: center;
    margin-bottom: 15px;
  }